.quizSubmission {
  height: 48px;
  color: rgb(51 51 51 / 50%);
  padding: 14px 8px;
  margin: 8px 0;
  cursor: pointer;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.success {
  background-color: rgb(170 255 170 / 50%);
}

.finish {
  background-color: rgb(255 243 191 / 50%);
}

.fail {
  background-color: rgb(250 170 170 / 50%);
}

.quizSubmission:hover {
  color: rgb(51 51 51 / 95%);
}

.success:hover {
  background-color: rgb(170 255 170 / 95%);
}

.finish:hover  {
  background-color: rgb(255 243 191 / 95%);
}

.fail:hover  {
  background-color: rgb(250 170 170 / 95%);
}