button.fab-quiz-element {
  background-color: transparent;
  position: absolute;
  color: rgb(0 0 0 / 50%);
  box-shadow: none;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  min-height: 24px;
}