.problem-content p {
  margin: 0;
  margin-bottom: 6px;
}

.problem-sample .sample-type {
  background-color: #eee;
  font-weight: bold;
}

.problem-sample li div {
  padding: 0px 8px;
  border-bottom: 1px solid #bbb;
}

.problem-sample .sample-value {
  font-family: Consolas, 'Courier New', sans-serif;
  font-size: 112%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 16px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}