body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardButton {
  width: 80px;
  padding: 8px 0;
  text-align: center;
  color: #1BA94C;
  border: solid 1px #1BA94C;
}

div.MuiToolbar-regular {
    min-height: 55px;
}

div.MuiPaper-rounded {
  border-radius: 0;
}

div.MuiCardHeader-root {
  padding: 8px 16px;
}

div.MuiPaper-elevation1 {
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,.3);
}

div.MuiGrid-spacing-xs-3 {
  margin: 0 -12px;
}

button.MuiButton-root {
  border-radius: 2px;
}

